{% load static %}
<!-- modal - element -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                    <!-- Swiper -->
                    <div class="swiper-container zoom-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image_main.url != ' ' %} {{modal.image_main.url}} {% endif %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image1.url != ' ' %} {{modal.image1.url}} {% endif %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image2.url != ' ' %} {{modal.image2.url}} {% endif %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image3.url != ' ' %} {{modal.image3.url}} {% endif %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container zoom-thumbs mt-3 mb-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image_main.url != ' ' %} {{modal.image_main.url}} {% endif %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image1.url != ' ' %} {{modal.image1.url}} {% endif %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image2.url != ' ' %} {{modal.image2.url}} {% endif %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto"
                                    src="{% if modal.image3.url != ' ' %} {{modal.image3.url}} {% endif %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-details-content quickview-content">
                        <h2>{{modal.name}}</h2>
                        <div class="pricing-meta">
                            <ul>
                                <li class="new-price">{{modal.get_sale}} грн</li>
                                
                                
                            </ul>
                        </div>
                        {% comment 'рейтинг' %} <div class="pro-details-rating-wrap">
                            <div class="rating-product">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="read-review"><a class="reviews" href="#">( 5 Customer Review
                                    )</a></span>
                        </div> {% endcomment %}
                        {% if modal.one_size == False %}
                            <div class="pro-details-size-info">
                                <span>Размер:</span>
                                <div class="pro-details-size">
                                    <ul>
                                        {% if modal.S %} <li><a class="active-size gray gray" href="#">S</a></li>{% endif %}
                                        {% if modal.M %} <li><a class="gray" href="#">M</a></li>{% endif %}
                                        {% if modal.L %} <li><a class="gray" href="#">L</a></li>{% endif %}
                                        {% if modal.XL %} <li><a class="gray" href="#">XL</a></li>{% endif %}
                                        {% if modal.XXL %} <li><a class="gray" href="#">XXL</a></li>{% endif %}
                                        {% if modal.XXXL %} <li><a class="gray" href="#">XXXL</a></li>{% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <p class="mt-30px mb-0">{{ modal.description | safe }} </p>
                        <div class="pro-details-quality">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                            </div>
                            <div class="pro-details-cart">
                                <a href="{% url 'checkout' modal.slug %}" class="add-cart">Купить</a>
                            </div>
                            <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="pro-details-compare-wishlist pro-details-compare">
                                <a href="compare.html"><i class="pe-7s-refresh-2"></i></a>
                            </div>
                        </div>
                        <div class="pro-details-sku-info pro-details-same-style  d-flex">
                            <span>КОД: </span>
                            <ul class="d-flex">
                                <li>
                                    <a href="#">Ch-256xl</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pro-details-categories-info pro-details-same-style d-flex">
                            <span>Категория: </span>
                            <ul class="d-flex">
                                <li>
                                    <a href="{% url 'tovars_category' modal.category.slug %}">{{ modal.category }}.</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pro-details-social-info pro-details-same-style d-flex">
                            <span>Поделиться: </span>
                            <ul class="d-flex">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>