{% extends 'include/base.html' %}
{% load static %}
{% block title %} {{ tovar.name }} - {{ tovar.category }}{% endblock title %}
{% block content %}

<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="{{ tovar.image_main.url }}"
                                alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="{% if tovar.image1.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="{% if tovar.image2.url != ' ' %}{{ tovar.image2.url }}{% endif %}"
                                alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="{% if tovar.image3.url != ' ' %}{{ tovar.image3.url }}{% endif %}"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-container zoom-thumbs mt-3 mb-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="{{ tovar.image_main.url }}"
                                alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="{% if tovar.image1.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="{% if tovar.image2.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="{% if tovar.image3.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content">
                    <h2>{{ tovar.name }}</h2>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">{{ tovar.price }} грн</li>
                        </ul>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="read-review"><a class="reviews" href="#">( 5 Customer Review )</a></span>
                    </div>
                    <div class="pro-details-color-info d-flex align-items-center">
                        <span>Цвет</span>
                        <div class="pro-details-color">
                            <ul>
                                <li><a class="active-color yellow" href="#"></a></li>
                                <li><a class="black" href="#"></a></li>
                                <li><a class="red" href="#"></a></li>
                                <li><a class="pink" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar single item -->
                    <div class="pro-details-size-info d-flex align-items-center">
                        <span>Размер</span>
                        <div class="pro-details-size">
                            <ul>
                                {% if tovar.S %} <li><a class="active-size gray gray" href="#">S</a></li>{% endif %}
                                {% if tovar.M %} <li><a class="gray" href="#">M</a></li>{% endif %}
                                {% if tovar.L %} <li><a class="gray" href="#">L</a></li>{% endif %}
                                {% if tovar.XL %} <li><a class="gray" href="#">XL</a></li>{% endif %}
                                {% if tovar.XXL %} <li><a class="gray" href="#">XXL</a></li>{% endif %}
                                {% if tovar.XXXL %} <li><a class="gray" href="#">XXXL</a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                    <p class="m-0">{{ tovar.description | safe }} </p>
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                        </div>
                        <div class="pro-details-cart">
                            
                            <a href="{% url 'checkout' tovar.slug %}" class="add-cart">Купить</a>
                        </div>
                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                            <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="pro-details-compare-wishlist pro-details-compare">
                            <a href="compare.html"><i class="pe-7s-refresh-2"></i></a>
                        </div>
                    </div>
                    <div class="pro-details-sku-info pro-details-same-style  d-flex">
                        <span>КОД: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="#">код</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex">
                        <span>Категория: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="{% url 'tovars_category' tovar.category.slug %}">{{ tovar.category }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-details-social-info pro-details-same-style d-flex">
                        <span>Поделиться: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Related product Area Start -->
<div class="related-product-area pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center mb-30px0px line-height-1">
                    <h2 class="title m-0">ТОП товары</h2>
                </div>
            </div>
        </div>
        <div class="new-product-slider swiper-container slider-nav-style-1 small-nav">
            <div class="new-product-wrapper swiper-wrapper">
                {% for tovars in top_tovars %}
                
                {% if tovars.name != tovar.name %}
                    <div class="new-product-item swiper-slide">
                        <!-- Single Prodect -->
                        <div class="product">
                            <div class="thumb">
                                <a href="{% url 'tovar_show' tovars.slug %}" class="image">
                                    <img src="{{ tovars.image_main.url }}" alt="Product" />
                                    <img class="hover-image" src="{% if tovars.image1 %}
                                    {{ tovars.image1.url }}
                                    {% else %}
                                    {{ tovars.image_main.url }}
                                    {% endif %}"
                                        alt="Product" />
                                </a>
                                <span class="badges">
                                    {% if tovars.new %}
                                    <span class="new">Новинка</span>
                                    {% endif %}
                                    
                                </span>
                                <div class="actions">
                                    <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                            class="pe-7s-like"></i></a>
                                    <a href="#" class="action quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#{{tovars.name}}"><i class="pe-7s-search"></i></a>
                                    <a href="compare.html" class="action compare" title="Compare"><i
                                            class="pe-7s-refresh-2"></i></a>
                                </div>
                                <a href="{% url 'checkout' tovars.slug %}" class=" add-to-cart">Купить</a>
                            </div>
                            <div class="content">
                                <span class="ratings">
                                    <span class="rating-wrap">
                                        <span class="star" style="width: 100%"></span>
                                    </span>
                                    <span class="rating-num">( 5 Review )</span>
                                </span>
                                <h5 class="title"><a href="{% url 'tovar_show' tovars.slug %}">{{tovars.name}}
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">{{tovars.price}} грн</span>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                <!-- Add Arrows -->
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related product Area End -->

 
<!-- Modals -->
{% for tovar in top_tovars %}
    
 <div class="modal modal-2 fade" id="{{tovar.name}}" tabindex="-1" role="dialog">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-body">
                 <div class="row">
             <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                 <!-- Swiper -->
                 <div class="swiper-container zoom-top">
                     <div class="swiper-wrapper">
                         <div class="swiper-slide zoom-image-hover">
                             <img class="img-responsive m-auto" src="{{ tovar.image_main.url }}"
                                 alt="">
                         </div>
                         <div class="swiper-slide zoom-image-hover">
                             <img class="img-responsive m-auto" src="{% if tovar.image1.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                 alt="">
                         </div>
                         <div class="swiper-slide zoom-image-hover">
                             <img class="img-responsive m-auto" src="{% if tovar.image2.url != ' ' %}{{ tovar.image2.url }}{% endif %}"
                                 alt="">
                         </div>
                         <div class="swiper-slide zoom-image-hover">
                             <img class="img-responsive m-auto" src="{% if tovar.image3.url != ' ' %}{{ tovar.image3.url }}{% endif %}"
                                 alt="">
                         </div>
                     </div>
                 </div>
                 <div class="swiper-container zoom-thumbs mt-3 mb-3">
                     <div class="swiper-wrapper">
                         <div class="swiper-slide">
                             <img class="img-responsive m-auto" src="{{ tovar.image_main.url }}"
                                 alt="">
                         </div>
                         <div class="swiper-slide">
                             <img class="img-responsive m-auto" src="{% if tovar.image1.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                 alt="">
                         </div>
                         <div class="swiper-slide">
                             <img class="img-responsive m-auto" src="{% if tovar.image2.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                 alt="">
                         </div>
                         <div class="swiper-slide">
                             <img class="img-responsive m-auto" src="{% if tovar.image3.url != ' ' %}{{ tovar.image1.url }}{% endif %}"
                                 alt="">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                 <div class="product-details-content quickview-content">
                     <h2>{{ tovar.name }}</h2>
                     <div class="pricing-meta">
                         <ul>
                             <li class="old-price not-cut">{{ tovar.price }} грн</li>
                         </ul>
                     </div>
                     <div class="pro-details-rating-wrap">
                         <div class="rating-product">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <span class="read-review"><a class="reviews" href="#">( 5 Customer Review )</a></span>
                     </div>
                     <div class="pro-details-color-info d-flex align-items-center">
                         <span>Цвет</span>
                         <div class="pro-details-color">
                             <ul>
                                 <li><a class="active-color yellow" href="#"></a></li>
                                 <li><a class="black" href="#"></a></li>
                                 <li><a class="red" href="#"></a></li>
                                 <li><a class="pink" href="#"></a></li>
                             </ul>
                         </div>
                     </div>
                     <!-- Sidebar single item -->
                     <div class="pro-details-size-info d-flex align-items-center">
                         <span>Размер</span>
                         <div class="pro-details-size">
                             <ul>
                                 {% if tovar.S %} <li><a class="active-size gray" href="#">S</a></li>{% endif %}
                                 {% if tovar.M %} <li><a class="gray" href="#">M</a></li>{% endif %}
                                 {% if tovar.L %} <li><a class="gray" href="#">L</a></li>{% endif %}
                                 {% if tovar.XL %} <li><a class="gray" href="#">XL</a></li>{% endif %}
                                 {% if tovar.XXL %} <li><a class="gray" href="#">XXL</a></li>{% endif %}
                                 {% if tovar.XXXL %} <li><a class="gray" href="#">XXXL</a></li>{% endif %}
                             </ul>
                         </div>
                     </div>
                     <p class="m-0">{{ tovar.description | safe }} </p>
                     <div class="pro-details-quality">
                         <div class="cart-plus-minus">
                             <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                         </div>
                         <div class="pro-details-cart">
                             
                             <a href="{% url 'checkout' tovar.slug %}" class="add-cart">Купить</a>
                         </div>
                         <div class="pro-details-compare-wishlist pro-details-wishlist ">
                             <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                         </div>
                         <div class="pro-details-compare-wishlist pro-details-compare">
                             <a href="compare.html"><i class="pe-7s-refresh-2"></i></a>
                         </div>
                     </div>
                     <div class="pro-details-sku-info pro-details-same-style  d-flex">
                         <span>КОД: </span>
                         <ul class="d-flex">
                             <li>
                                 <a href="#">код</a>
                             </li>
                         </ul>
                     </div>
                     <div class="pro-details-categories-info pro-details-same-style d-flex">
                         <span>Категория: </span>
                         <ul class="d-flex">
                             <li>
                                 <a href="{% url 'tovars_category' tovar.category.slug %}">{{ tovar.category }}</a>
                             </li>
                         </ul>
                     </div>
                     <div class="pro-details-social-info pro-details-same-style d-flex">
                         <span>Поделиться: </span>
                         <ul class="d-flex">
                             <li>
                                 <a href="#"><i class="fa fa-facebook"></i></a>
                             </li>
                             <li>
                                 <a href="#"><i class="fa fa-instagram"></i></a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
             </div>
         </div>
     </div>
 </div>
 
{% endfor %}
<!-- End Modals -->
 
{% endblock content %}