{% extends 'include/base.html' %}
{% load static %}
{% block title %}Доставка & Оплата{% endblock title %}
{% block content %}
	
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>Доставка & Оплата</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="karl-projects-menu mb-100">
        <div class="text-center portfolio-menu">
        	<button class="btn active" data-filter="*">Оплата & Условия доставки</button>
            <button class="btn" data-filter=".Оплата">Оплата</button>
            <button class="btn" data-filter=".Доставка">Условия доставки</button>
        </div>
    </div>

    <div class="container">
        <div class="row karl-new-arrivals">

            <div class="single_gallery_item Оплата wow fadeInUpBig" data-wow-delay="0.2s">
                <h2>Оплата на карту</h2><br>
				<p>
				После оформления заказа, вы оплачиваете стоимость заказа на карту.<br><br>

				<i class="ti-help"></i> - Почему выгодно платить на карту?<br><br>
				В отделении Новой Почты, Вам не нужно думать сколько всего необходимо к оплате вместе с доставкой, и оплачивать наложенный платеж, Вы просто забираете Ваш заказ, без лишней переплаты.
				</p>
            </div>

            <div class="single_gallery_item Оплата wow fadeInUpBig" data-wow-delay="0.2s">
                <h2>Оплата при получении (наложенный платеж)</h2><br>
				<p>
					Доставка транспортной компанией Новая Почта предоставляет опцию «наложенный платеж». <br><br>
					В этом случае Вы можете в присутствии работника службы открыть посылку, рассмотреть и примерять содержимое перед оплатой.
				</p>
				<p>
					<div class="alert alert-success" role="alert">
  						<i class="ti-info"></i> Обратите внимание <br>
							<i class="ti-wand"></i> Оплата на карту позволяет сэкономить время и деньги:<br>
							<ul style="padding-left: 30px;">
								<li><i class="ti-check"></i> При получении посылки в отделении транспортной компании не придется переплачивать за услугу наложенного платежа.</li>
								<li><i class="ti-check"></i> При получении заказа из рук курьера нет рисков забыть снять деньги в банкомате или подготовить нужную сумму без сдачи.</li>
							</ul>
							
							
					</div>
				</p>
            </div>


            <div class="single_gallery_item Доставка wow fadeInUpBig" data-wow-delay="0.2s">
                <h2>Новая Почта</h2><br>
				<p>
				Мы заботимся о том, чтобы Вы получали посылки вовремя, в сохранности и за небольшую плату. Мы являемся торговой площадкой и осуществляем продажи путем отправления посылок. <br><br> Предлагаем Вам самый быстрый и надежный способ доставки товаров с помощью услуг транспортной компании  <a href="https://novaposhta.ua/">Новая Почта</a> по всей Украине, доставка в любой уголок страны.
					<br><br>
				Срок доставки заказа по Украине с помощью транспортной компании  составляет 2-4 дня. <br><br>
				Возможность наложенного платежа позволяет примерять/осмотреть товар перед оплатой, если передумаете, Вы можете отказаться от оплаты товара. <br><br>
				Стоимость доставки вашего заказа в случае наложенного платежа будет зависеть не только от пункта назначения, но и от суммы покупки.
				Вы можете оплатить покупку на карту, тогда услуги пересылки денег Вам оплачивать не прийдётся, соответственно вы сэкономите средства.<br><br>
				Новая Почта предоставляет возможность отслеживать состояние посылки по номеру транспортной накладной, который вы получите в смс после отправки вашего заказа.
				</p>
				<div class="alert alert-success" role="alert">
  						<i class="ti-info"></i> Обратите внимание <br>
							<i class="ti-wand"></i> Оплата на карту позволяет сэкономить время и деньги:<br>
							<p style="padding-left: 30px;">
								Услуга наложенного платежа платная, и составляет 2% от суммы заказа. Более детальную информацию можно узнать на сайте Новой Почты или по телефону горячей линии службы.
							</p>
							
					</div>
            </div>

        </div>
    </div>
</section>

{% endblock content %}