{% extends 'include/base.html' %}
{% load static %}
{% block title %}Интернет магазин одежды{% endblock title %}
{% block content %}

<!-- Hero/Intro Slider Start -->
<div class="section ">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
        <!-- Hero slider Active -->
        <div class="swiper-wrapper">
            <!-- Start Single slider item -->
            {% for slaid in slaidbar %}
                    
                <div class="hero-slide-item slider-height swiper-slide d-flex bg-color2">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 align-self-center sm-center-view">
                                <div class="hero-slide-content slider-animated-1">
                                    <span class="category">{{ slaid.sub_title }}</span>
                                    <h2 class="title-1">{{slaid.title}} </h2>
                                    {% comment %} <h2 class="title-2"><span>50%</span> Off</h2> {% endcomment %}
                                    <a href="{{ slaid.button_url }}" class="btn btn-lg btn-primary btn-hover-dark"> {{slaid.button_title}} <i
                                            class="fa fa-shopping-basket ml-15px" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div
                                class="col-xl-7 col-lg-7 col-md-7 col-sm-7 d-flex justify-content-center position-relative">
                                <div class="show-case">
                                    <div class="hero-slide-image">
                                        <img style="height: 634px; width: 472px;" src="{{ slaid.tovar.image_main.url }}" alt="" />
                                        {% comment %} {{ slaid.tovar.image_main.url }} {% endcomment %}
                                    </div>
                                    <div class="display-wrapper">
                                        <div class="content-side">
                                            <h4 class="title">{{ slaid.tovar.name }} </h4>
                                            <span class="price">{{ slaid.tovar.price }} грн</span>
                                            <a href="{% url 'tovar_show' slaid.tovar.slug %}" class="shop-link">Купить сейчас</a>
                                        </div>
                                        <div class="image-side">
                                            {% comment %} <img style="height: 97px; width: 89px;" src="{{ slaid.tovar.image_main.url }}" alt=""> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            {% endfor %}
            <!-- End Single slider item -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<!-- Hero/Intro Slider End -->

<!-- Banner Area Start -->
<div class="banner-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="single-col">
                <a href="shop-left-sidebar.html" class="single-banner">
                    <img src="{% static "images/banner/1.jpg" %}" alt="">
                    <div class="item-disc">
                        <span class="item-title">Women</span>
                        <span class="item-amount">16 items</span>
                    </div>
                </a>
            </div>
            <div class="single-col center-col">
                <div class="single-banner">
                    <img src="{% static "images/banner/2.jpg" %}" alt="">
                    <div class="item-disc">
                        <h2 class="title">#bestsellers</h2>
                        <a href="shop-left-sidebar.html" class="shop-link">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="single-col">
                <a href="shop-left-sidebar.html" class="single-banner">
                    <img src="{% static "images/banner/3.jpg" %}" %}" alt="">
                    <div class="item-disc">
                        <span class="item-title">Nomen</span>
                        <span class="item-amount">16 items</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->

<!-- Feature Area Srart -->
<div class="feature-area pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6  ">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static "images/icons/1.png" %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Бесплатная </h4>
                        <span class="sub-title">Купи все сделаем</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-lg-4 col-md-6 mb-md-30px mb-lm-30px mt-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static "images/icons/2.png" %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">12 Months Installments</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static "images/icons/3.png" %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->

<!-- Product Area Start -->
<div class="product-area">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg col-md col-12">
                <div class="section-title mb-0">
                    <h2 class="title">#products</h2>
                </div>
            </div>
            <!-- Section Title End -->

            <!-- Tab Start -->
            <div class="col-lg-auto col-md-auto col-12">
                <ul class="product-tab-nav nav">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
                            href="#tab-product-all">Все</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-product-new">Новинки</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
                            href="#tab-product-bestsellers">Женщинам</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
                            href="#tab-product-itemssale"> Мужчинам </a></li>
                </ul>
            </div>
            <!-- Tab End -->
        </div>
        <!-- Section Title & Tab End -->

        <div class="row">
            <div class="col">
                <div class="tab-content top-borber">
                    <!-- 1st tab start -->
                    <div class="tab-pane fade show active" tabindex="-1" id="tab-product-all">
                        <div class="row">
                            {% for tovar in tovars_all %}
                                {% include 'include/tovar_show.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 1st tab end -->
                    <!-- 2nd tab start -->
                    <div class="tab-pane fade" id="tab-product-new">
                        <div class="row">
                            {% for tovar in tovars_new %}
                                {% include 'include/tovar_show.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 2nd tab end -->
                    <!-- 3rd tab start -->
                    <div class="tab-pane fade" id="tab-product-bestsellers">
                        <div class="row">
                            {% for tovar in tovars_women %}
                                {% include 'include/tovar_show.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 3rd tab end -->
                    <!-- 4th tab start -->
                    <div class="tab-pane fade" id="tab-product-itemssale">
                        <div class="row">
                            {% for tovar in tovars_man %}
                                {% include 'include/tovar_show.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 4th tab end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End -->

<!-- Deal Area Start -->
<div class="deal-area pb-100px pt-100px">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="deal-inner deal-bg position-relative pt-100px pb-100px"
                    data-bg-image="{% static 'images/deal-img/deal-bg.jpg' %}">
                    <div class="deal-wrapper">
                        <span class="category">#FASHION_SHOP</span>
                        <h3 class="title">Deal Of The Day</h3>
                        
                        <div class="deal-timing"></div>
                    
                        <a href="single-product-variable.html" class="btn btn-lg btn-primary btn-hover-dark m-auto"> Купить
                        <i class="fa fa-shopping-basket ml-15px" aria-hidden="true"></i></a>
                    </div>
                    <div class="deal-image">
                        <img class="img-fluid" src="{% static "images/deal-img/woman.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Area End -->

<!-- Testimonial Area Start -->
<div class="testimonial-area pb-40px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center mb-0">
                    <h2 class="title line-height-1">#testimonials</h2>
                </div>
            </div>
        </div>
        <!-- Slider Start -->
        <div class="testimonial-wrapper swiper-container">
            <div class="swiper-wrapper">
                <!-- Slider Single Item -->
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="reating-wrap">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="testi-content">
                            <p>Lorem ipsum dolor sit amet, consect adipisici elit, sed do eiusmod tempol incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniamfhq nostrud exercitation.
                            </p>
                        </div>
                        <div class="testi-author">
                            <div class="author-img">
                                <img src="{% static "images/testimonial-image/1.png" %}" alt="">
                            </div>
                            <div class="author-name">
                                <h4 class="name">Daisy Morgan</h4>
                                <span class="title">Happy Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="reating-wrap">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="testi-content">
                            <p>Lorem ipsum dolor sit amet, consect adipisici elit, sed do eiusmod tempol incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniamfhq nostrud exercitation.
                            </p>
                        </div>
                        <div class="testi-author">
                            <div class="author-img">
                                <img src="{% static "images/testimonial-image/2.png" %}" alt="">
                            </div>
                            <div class="author-name">
                                <h4 class="name">Leah Chatman</h4>
                                <span class="title">Happy Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="reating-wrap">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="testi-content">
                            <p>Lorem ipsum dolor sit amet, consect adipisici elit, sed do eiusmod tempol incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniamfhq nostrud exercitation.
                            </p>
                        </div>
                        <div class="testi-author">
                            <div class="author-img">
                                <img src="{% static "images/testimonial-image/3.png" %}" alt="">
                            </div>
                            <div class="author-name">
                                <h4 class="name">Reyna Chung</h4>
                                <span class="title">Happy Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="reating-wrap">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="testi-content">
                            <p>Lorem ipsum dolor sit amet, consect adipisici elit, sed do eiusmod tempol incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniamfhq nostrud exercitation.
                            </p>
                        </div>
                        <div class="testi-author">
                            <div class="author-img">
                                <img src="{% static "images/testimonial-image/1.png" %}" alt="">
                            </div>
                            <div class="author-name">
                                <h4 class="name">Daisy Morgan</h4>
                                <span class="title">Happy Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="reating-wrap">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="testi-content">
                            <p>Lorem ipsum dolor sit amet, consect adipisici elit, sed do eiusmod tempol incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniamfhq nostrud exercitation.
                            </p>
                        </div>
                        <div class="testi-author">
                            <div class="author-img">
                                <img src="{% static "images/testimonial-image/2.png" %}" alt="">
                            </div>
                            <div class="author-name">
                                <h4 class="name">Reyna Chung</h4>
                                <span class="title">Happy Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Single Item -->
            </div>
        </div>
        <!-- Slider Start -->
    </div>
</div>
<!-- Testimonial Area End -->

<!-- Brand area start -->
<div class="brand-area pb-100px">
    <div class="container">
        <div class="brand-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide brand-slider-item text-center">
                    <a href="#"><img class=" img-fluid" src="{% static "images/brand-logo/1.png" %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a href="#"><img class=" img-fluid" src="{% static "images/brand-logo/2.png" %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a href="#"><img class=" img-fluid" src="{% static "images/brand-logo/3.png" %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a href="#"><img class=" img-fluid" src="{% static "images/brand-logo/4.png" %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a href="#"><img class=" img-fluid" src="{% static "images/brand-logo/5.png" %}" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand area end -->

{% for modal in tovars_all %}
<!-- Modal -->
<div class="modal modal-2 fade" id="{{ modal.name }}" tabindex="-1" role="dialog">
    {% include 'include/tovar_modal.html' %}
</div>
<!-- Modal end -->
{% endfor %}


{% endblock content %}